<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InventarIO - Artículos Deportivos</title>
  <link rel="stylesheet" href="css/topbar.css">
  <link rel="stylesheet" href="css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  <script src="data/articulos.json"></script>
</head>
<body>
  <div class="header-container">
    <header>
      <div class="nav-section">
        <div class="logo">inventarIO</div>
        <nav class="nav-categorias">
          <a href="home.html?categoria=Fútbol" class="filtro-categoria" data-categoria="Todos">Todos</a>
          <a href="#" class="filtro-categoria" data-categoria="Fútbol">Fútbol</a>
          <a href="#" class="filtro-categoria" data-categoria="Vóley">Vóley</a>
          <a href="#" class="filtro-categoria" data-categoria="Básquet">Básquet</a>
          <a href="#" class="filtro-categoria" data-categoria="Natación">Natación</a>
          
         
          <div class="dropdown-categoria">
            <a href="#" id="dropdownToggle">Más artículos ▾</a>
            <div class="dropdown-menu">
              <a href="#" class="filtro-categoria" data-categoria="Otros">Otros</a>
              <a href="#" class="filtro-categoria" data-categoria="Ejercicio">Ejercicio</a>
              <a href="#" class="filtro-categoria" data-categoria="Calistenia">Calistenia</a>
            </div>
          </div>
        </nav>
      </div>
      
      <div class="user-section">
        <div class="usuario-info">
          <div class="user-text">
            <div class="user-name" id="nombre-usuario">Cargando...</div>
            <div class="estado-usuario" id="estado-usuario">...</div>
          </div>
          <div class="user-icons">
            <div class="profile-dropdown">
              <i class="fas fa-user" id="profile-icon"></i>
              <div class="dropdown-content">
                <a href="carrito.html"><i class="fas fa-shopping-cart"></i> Mi Carrito</a>
                <a href="historial_user.html"><i class="fas fa-history"></i> Historial de Reservas</a>
                <a href="#"><i class="fas fa-headset"></i> Comunicar con Admin</a>
                <a href="#"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
              </div>
              <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
<div class="new-section">
  <div class="new-container">
    <div class="ribbon">Nuevos Artículos</div>
    <div class="small-cards-container">
      <div class="small-card">
        <a href="descripcion.html" class="small-card">
           <img src="/template/image/futbol.jpg" alt="Pelota de fútbol">
            <h4>Pelota de fútbol</h4>
            <div class="small-card-content">
            <div class="info-line">
                <span class="info-icon">🏷️</span>
                <span>Categoría: Fútbol</span> <span class="disponibilidad">No Disponible</span>
            </div>
            <div class="info-line">
                <span class="info-icon">🔄</span>
                <span>Estado: Buen estado</span>
            </div>
            <div class="info-line">
                <span class="info-icon">📍</span>
                <span>Lugar: cancha mecánica</span>
            </div>
            <div class="info-line">
                <span class="info-icon">⏱</span>
                <span>Tiempo máximo: 3 días</span>
            </div>
            </div>
        </a>
      </div>

      <div class="small-card">
         <a href="descripcion.html" class="small-card">
           <img src="/template/image/futbol.jpg" alt="Pelota de fútbol">
            <h4>Pelota de fútbol</h4>
            <div class="small-card-content">
            <div class="info-line">
                <span class="info-icon">🏷️</span>
                <span>Categoría: Fútbol</span> <span class="disponibilidad">No Disponible</span>
            </div>
            <div class="info-line">
                <span class="info-icon">🔄</span>
                <span>Estado: Buen estado</span>
            </div>
            <div class="info-line">
                <span class="info-icon">📍</span>
                <span>Lugar: cancha mecánica</span>
            </div>
            <div class="info-line">
                <span class="info-icon">⏱</span>
                <span>Tiempo máximo: 3 días</span>
            </div>
            </div>
        </a>
      </div>

      <div class="small-card">
        <a href="descripcion.html" class="small-card">
           <img src="/template/image/futbol.jpg" alt="Pelota de fútbol">
            <h4>Pelota de fútbol</h4>
            <div class="small-card-content">
            <div class="info-line">
                <span class="info-icon">🏷️</span>
                <span>Categoría: Fútbol</span> <span class="disponibilidad">No Disponible</span>
            </div>
            <div class="info-line">
                <span class="info-icon">🔄</span>
                <span>Estado: Buen estado</span>
            </div>
            <div class="info-line">
                <span class="info-icon">📍</span>
                <span>Lugar: cancha mecánica</span>
            </div>
            <div class="info-line">
                <span class="info-icon">⏱</span>
                <span>Tiempo máximo: 3 días</span>
            </div>
            </div>
        </a>
      </div>

      <div class="small-card">
        <a href="descripcion.html" class="small-card">
           <img src="/template/image/futbol.jpg" alt="Pelota de fútbol">
            <h4>Pelota de fútbol</h4>
            <div class="small-card-content">
            <div class="info-line">
                <span class="info-icon">🏷️</span>
                <span>Categoría: Fútbol</span> <span class="disponibilidad">No Disponible</span>
            </div>
            <div class="info-line">
                <span class="info-icon">🔄</span>
                <span>Estado: Buen estado</span>
            </div>
            <div class="info-line">
                <span class="info-icon">📍</span>
                <span>Lugar: cancha mecánica</span>
            </div>
            <div class="info-line">
                <span class="info-icon">⏱</span>
                <span>Tiempo máximo: 3 días</span>
            </div>
            </div>
        </a>
      </div>

      <div class="small-card">
        <a href="descripcion.html" class="small-card">
           <img src="/template/image/futbol.jpg" alt="Pelota de fútbol">
            <h4>Pelota de fútbol</h4>
            <div class="small-card-content">
            <div class="info-line">
                <span class="info-icon">🏷️</span>
                <span>Categoría: Fútbol</span> <span class="disponibilidad">No Disponible</span>
            </div>
            <div class="info-line">
                <span class="info-icon">🔄</span>
                <span>Estado: Buen estado</span>
            </div>
            <div class="info-line">
                <span class="info-icon">📍</span>
                <span>Lugar: cancha mecánica</span>
            </div>
            <div class="info-line">
                <span class="info-icon">⏱</span>
                <span>Tiempo máximo: 3 días</span>
            </div>
            </div>
        </a>
      </div>
     
    </div>
  </div>
</div>
  <div class="cards-container" id="cards-container">
  </div>
  <script src="script/topbar.js"></script>
  <script src="script/cards.js"></script>
</body>
</html>